body {
    background-color: rgb(26, 24, 24);
    font-family: Helvetica, sans-serif;
    padding: 4rem;
    color: whitesmoke;
}

ul {
    list-style-type: none;   
    padding-left: 0;
}

li {
    margin-top: 0.5rem;
}