body {
    background-color: rgb(26, 24, 24);
    font-family: Helvetica, sans-serif;
    padding: 4rem;
}

p {
    color: whitesmoke;
}

ul {
    list-style-type: none;   
    padding-left: 0;
}

a {
    /* text-decoration: none; */
    margin-right: 2rem;
    color: rgb(124, 187, 241);
}